.article-section {
    width: 100%;
}

.article-content {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    padding: 1em;
    margin: 0 auto;
}

.article-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 1em;
    box-shadow: 0px 1px 15px 1px rgba(0,0,0,0.08);
}

.article-body {
    display: flex;
    flex-direction: column;
}

.article-body .top-content {
    padding: 20px 40px;
    border-radius: 1em;
    box-shadow: 0px 1px 15px 1px rgba(0,0,0,0.08);
}

.article-body .title {
    text-align: center;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.01em;
    color: #444444;
}

.article-body .description {
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 48px;
    color: #666666;
}

.article-body .creater {
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
    color: #666666;
}

.article-body .info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.article-body .center {
    display: flex;
    justify-content: center;
    margin-bottom: 20px
}

.article-body .block {
    display: inline-block;
}

.article-body .is-private, .created-date, .category-name, .views, .rating {
    text-decoration: none;
    padding: 5px 12px;
    margin: 10px 10px;
    font-size: 20px;
    color: #333333;
    border-radius: 1em;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.1);
}

.article-body .bottom-content {
    padding: 40px 40px;
    border-radius: 1em;
    box-shadow: 0px 1px 15px 1px rgba(0,0,0,0.08);
}

.bottom-content .content{
    font-size: 20px;
    color: #333333;
}

.article-sort {
    padding: 1em 1em;
    border-radius: 1em;
    box-shadow: 0px 1px 15px 1px rgba(0,0,0,0.08);
}

.article-sort .search-group {
    display: flex;
}

.article-sort .category {
    margin: 0.3em;
    display: flex;
}

.article-sort .sort-by {
    margin: 0.3em;
    display: flex;
}

.article-sort .search {
    margin: 0.3em;
}

.article-sort .text {
    width: 100%;
}

.article-sort p {
    font-size: 20px;
    color: #444444;
}

.article-count {
    text-align: center;
}

.article-count p {
    display: inline-block;
    font-size: 21px;
    color: #333333;
    padding: 0.2em 1em;
    margin: 1em auto;
    border-radius: 1em;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.1);
}

.not-found .title {
    font-size: 32px;
    color: #666666;
    letter-spacing: 0.1em;
    text-align: center;
    margin: 2em auto;
}

.article_form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 2em;
    margin: 2em auto;
    border-radius: 1em;
    background: rgba(0,0,0,0.02);
}

.article_form .title {
    text-align: center;
    font-size: 32px;
    letter-spacing: 0.1em;
    margin: 1rem 1rem;
    color: #444444;
}

.article_form label {
    font-size: 20px;
    letter-spacing: 0.04em;
    color: #444444;
}

.article-vote {
    text-align: center;
}

.article-vote p {
    display: inline-block;
    font-size: 21px;
    color: #333333;
    padding: 0.2em 1em;
    margin: 1em auto;
    border-radius: 1em;
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.1);
}

.btn-circle {
    font-size: 36px;
    line-height: 0.8em;
    width: 1em;
    height: 1em;
    padding: 0 0;
    border-radius: 20em;
}
