{% extends "base.html" %}

{% block content %}

<div class="container-xl">
    <div class="article_form">
        <h1 class="title">{{ title }}</h1>
        <form action="" method="post" class="login_form" enctype="multipart/form-data" id="article_form_edit">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <p>
                {{ form.title.label }}<br>
                {{ form.title(class="form-control") }}
                {% for error in form.title.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.description.label }}<br>
                {{ form.description(class="form-control") }}
                {% for error in form.description.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <div class="mb-3">
                <label for="">Текст</label>
                {{ form.content(style="height:0;width:0;opacity:0") }}
                <div id="summernote"></div>
            </div>
            <p>
                {{ form.category_id.label }}<br>
                {{ form.category_id(class="form-control") }}
                {% for error in form.category_id.errors %}
                    <p content="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p class="load_file">
                <div class="form-group">
                    <label for="photo">Загрузить фото</label>
                    <input type="file" class="form-control-file" id="photo" name="file">
                </div>
            </p>
            <a href="/articles/delete/image/{{ article.id }}" class="btn">Удалить картинку</a>
            <p>{{ form.is_private() }} {{ form.is_private.label }}</p>
            <p>{{ form.submit(type="submit", class="btn") }}</p>
        </form>
        {% if message %}
            <h3 class="alert alert-danger">{{ message }}</h3>
        {% endif %}
    </div>
</div>

{% endblock %}
