{% extends "base.html" %}

{% block content %}

<div class="article-section">
    <div class="container-xl">
        <div class="article-body">
            <div class="top-content">
                <p class="title">{{ article.title }}</p>
                <p class="description">{{ article.description }}</p>
                <p class="creater">Написал: <a class="btn" href="/user/show/{{ article.user.id }}">{{ article.user.surname }} {{ article.user.name }}</a></p>
                <div class="center">
                    <div class="block">
                        {% if article.is_private %}
                            <p class="is-private" style="background: rgba(255,0,0,0.5)">Личное</p>
                        {% else %}
                            <p class="is-private" style="background: rgba(0,255,0,0.5)">Публичное</p>
                        {% endif %}
                    </div>
                </div>
                <div class="info">
                    <div>
                        <p class="created-date">Опубликовано: {{ article.created_date.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                    </div>
                    <div>
                        <p class="category-name">Категория: {{ category.name }}</p>
                    </div>
                    <div>
                        <p class="views">Просмотров: {{ article.views }}</p>
                    </div>
                    <div>
                        <p class="rating">Рейтинг: {{ article.rating }}</p>
                    </div>
                </div>
            </div>

            <div class="bottom-content">
              <p class="content">{{ article.content }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
