{% extends "base.html" %}

{% block content %}

<div class="article-content">
    <div class="user-list">
      {% for item in form %}
      <div class="card m-4 rounded" style="width: 15rem;">
          <a href="/user/show/{{ item.id }}">
              <div class="inner" style="width: 15rem; height: 12rem">
                  <img class="card-img-top" src="{{ url_for('static', filename=item.photo_url) }}" alt="Card image cap">
              </div>
              <div class="card-body text-center">
                  <h5 class="card-title">{{ item.surname }} {{ item.name }}</h5>
                  <p class="card-text card-hover">{{ item.info }}</p>
              </div>
          </a>
      </div>
      {% endfor %}
    </div>
</div>

{% endblock %}
