{% extends "base.html" %}

{% block content %}

<div class="container-xl">
    {% if message %}
        <h3 class="title alert alert-danger">{{ message }}</h3>
    {% endif %}

    <div class="user-section">
        <div class="user-card">
            <div class="row">
                <div class="col-4">
                    <div class="user-column-content">
                        <div class="user-photo">
                            <p><img class="user-photo" src="{{ url_for('static', filename=user.photo_url) }}" alt="User-photo"></p>
                        </div>
                        <div class="user-btn-group">
                            {% if current_user.is_authenticated and current_user == user %}
                                <a href="/user/edit" class="btn btn-100">Редактировать профиль</a>
                                <a href="/user/edit/password" class="btn btn-100">Сменить пароль</a>
                                <a href="/user/delete/image" class="btn btn-100">Удалить аватарку</a>
                                <a class="btn btn-100" data-toggle="modal" data-target="#exampleModalCenter">Удалить профиль</a>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalCenterTitle">Удаление профиля</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Если вы удалите свой профиль, все ваши статьи и оценки будут потеряны!
                                            </div>
                                            <div class="modal-footer">
                                                <a href="#" class="btn btn-outline-primary" data-dismiss="modal">Закрыть</a>
                                                <a href="/user/delete" class="btn btn-outline-danger">Удалить</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="user-info">
                        <h2>{{ user.surname }} {{ user.name }}</h2>
                        <h6>Почта: {{ user.email }}</h6>
                        <h6>О себе: {{ user.info }}</h6>
                        <h6>Город: {{ user.city_from }}</h6>
                        <h6>Возраст: {{ user.age }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-create-article">
        {% if current_user.is_authenticated and current_user == user %}
        <a href="/articles/create" class="btn">Создать статью</a>
        {% endif %}
    </div>

    <hr class="line-user">
</div>

<div class="articles-section">
    <div class="article-content">
        <!-- Сортировка тут -->
        <form action="" method="post">
            <div class="article-sort">
                <div class="row">

                    <div class="col-xl-3">
                        <div class="category">
                            <div class="text">
                                <p>Категория:</p>
                            </div>
                            <select name="category_id" class="browser-default custom-select">
                                {% for item in form['categories'] %}
                                {% if form['selected'][0] == loop.index0 %}
                                <option value="{{ loop.index0 }}" selected>{{ item }}</option>
                                {% else %}
                                <option value="{{ loop.index0 }}">{{ item }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="sort-by">
                            <div class="text">
                                <p>Сортировать по:</p>
                            </div>
                            <select name="sort_by" class="browser-default custom-select">
                                {% for item in form['sort_list'] %}
                                {% if form['selected'][1] == loop.index0 %}
                                <option value="{{ loop.index0 }}" selected>{{ item }}</option>
                                {% else %}
                                <option value="{{ loop.index0 }}">{{ item }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-xl-2">
                        <div class="reverse">
                          <div class="btn-group btn-group-toggle" data-toggle="buttons">
                              <label class="btn btn-outline-primary {% if form['selected'][2] == 0 %} active {% endif %}">
                                  <input type="radio" name="reverse" value="0" {% if form['selected'][2] == 0 %} checked {% endif %}>Возрастание
                              </label>
                              <label class="btn btn-outline-primary {% if form['selected'][2] == 1 %} active {% endif %}">
                                  <input type="radio" name="reverse" value="1" {% if form['selected'][2] == 1 %} checked {% endif %}>Убывание
                              </label>
                          </div>
                        </div>
                    </div>

                    <div class="col-xl-3">
                        <div class="search-group">
                            <div class="search">
                                <input type="text" name="search" class="form-control" value="{{ form['selected'][3] }}" placeholder="Я иду искать"/>
                            </div>
                            <div class="search-button">
                                <input type="submit" class="btn" value="Показать"/>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>

        {% if form['articles']|count > 0 %}
        <div class="article-count">
            <p class="count">Результатов: {{ form['articles']|count }}</p>
        </div>
        <div class="article-list">
            {% for item in form['articles'] %}
            <div class="card m-4" style="width: 18rem;">
                <img class="card-img-top" src="{{ url_for('static', filename=item.photo_url) }}"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                    <a href="/articles/show/{{ item.id }}" class="btn">Читать</a>

                    {% if current_user.is_authenticated and current_user == user %}
                    <a href="/articles/edit/{{ item.id }}" class="btn btn-outline-primary">Изменить</a>
                    <a href="/articles/delete/{{ item.id }}" class="btn btn-outline-danger">Удалить</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="not-found">
            <p class="title">Статей не найдено</p>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
